__pycache__
*.txt
.env
for*.dat
datcom97.exe
*.csv
model*
mlp2.py
*lock*

!Botorch-DATCOM/Results/csv/*.csv
!DNN/models/
!DNN/models/model_0_*_uniform_downsampled_point2binsize.pt
!Multifidelity-BO/*204.csv